.carta{
  border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;	
  border: 1px #000 solid;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

  display: grid;
  grid-template-rows: auto auto auto;
}

.bC{
  float: right;
  background-color: red;
  color: antiquewhite;
}

.linea{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

